.nav__header {
    display: inline-block;
}

.nav__logo {
    display: inline-block;
}

.nav__logo__image {
    display: block;
    height: 2.1rem;
}

.nav__header__description {
    display: block;
    color: #ADAAAD;
    font-size: 0.75rem;
    margin-top: 0.2em;
}