@import 'mixins/box-sizing';

.card-header {
  margin: 0.8em 0 1em;
  text-align: center;
  @include box-sizing(border-box);
  position: relative;
}

.card-header__context-menu {
  font-size: 1.5em;
  position: absolute;
  right: 0.2em;
  top: -0.2em;
  color: #CCCCCC;
}