@import 'mixins/border-radius';
@import 'colors';

.badge {
  font-size: 0.75rem;
  @include border-radius(10px);
  background-color: $hipage-orange;
  color: white;
  display: inline-block;
  padding: 0.1em 0.5em;
  text-align: center;
  text-transform: uppercase;
}