@import "mixins/border-radius";
@import "mixins/box-shadow";

.context-menu__options {
  background-color: #FFFFFF;
  @include border-radius(2px);
  border: 1px solid #DDDDDD;
  position: absolute;
  right: 0.5em;
  top : 1.75em;
  font-size: 0.9rem;
  padding: 0.4em 0;
  text-align: left;

  @include box-shadow(0, 3px, 8px, #BBBBBB);
}