@mixin breakpoint($point) {
  @if $point == sm {
    @media (min-width: 576px)  { @content; }
  }
  @else if $point == md {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == lg {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == xlarge {
    @media (min-width: 1200px) { @content; }
  }
}