.nav__toggle {
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  padding: 0.25em 0;
  border: 0;
  color: #888888;
  background-color: transparent;
  cursor: pointer; }

.nav__toggle:hover, .nav__toggle:focus {
  color: #AAAAAA;
  outline: none; }
