.footer {
  margin-top: 1em;
  background-color: #303034;
  padding: 1em 2.1em;
  text-align: center;
}

.footer__title {
  font-size: 0.9em;
  color: #B2BBBB;
}

.footer__links {
  margin: 0.7em 0 1em;
}