@import 'colors';

.break-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
  line-height: 0.1em;
  margin: 1em 0;
  display:inline-block;
}

.break-line__text {
  background: #FFFFFF;
  padding:0 1em;
  font-size: 1rem;
}

.break-line__text--black {
  color: #333333;
}

.break-line__text--green {
  color: $in-progress-turquoise;
}

.break-line__text--red {
  color: $closed-red;
}