@import '_colors.scss';
@import 'mixins/box-sizing';
@import 'mixins/box-shadow';

.segmented-control__segment {
  display: inline-block;
  border: 0;
  border-left: 1px solid #E9E9E9;
  font-size: 0.8rem;
  padding: 1.05em;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: transparent;

  /* TODO: Calculate the width of each component programtically */
  width: calc(100% / 2);
}

.segmented-control__segment:first-child {
  border-left: none;
}

.segmented-control__segment--active {
  font-weight: bold;
  @include box-shadow(0, -3px, 0px, $hipage-orange, true);
}

.segmented-control__segment:active {
  color: inherit;
}