@import 'mixins/border-radius';

.avatar {
  display: inline-block;
  margin: 0.35em 0.7em 1.2em;
  position: relative;
}

.avatar__image {
  width: 3.75em;
  height: 3.75em;
  background: no-repeat center #CCCCCC;
  @include border-radius(100%);
  overflow: hidden;
}

.avatar__image__image {
  width: 100%;
  height: 100%;
}

.avatar__text {
  position: absolute;
  bottom: -0.5em;
  left: 0;
  right: 0;
}