@import 'mixins/border-radius';

.segmented-control {
    background-color: #FFFFFF;
    overflow: hidden;

    @include border-radius(2px);
    box-shadow: 0 1px 1px #CCCCCC;
    margin: 0 auto 0.4em;
}