html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #EEEEEE;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0.25em 0;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
}

h5 {
  font-size: 0.9rem;
  color: #AAAAAA;
}

button {
  background-color: transparent;
  margin: 0;
  padding: 0;
}