.card-content {
  margin: 0 1em;
  text-align: center;
}

.card-content__title {
  margin: 0.4em 0 1.8em;
  display: inline-block;
  width: 100%;
}

.card-content__content {
  display: inline-block;
  width: 100%;
}