.nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #FFFFFF;
  border-top: 3px solid #FD7B29;
  border-bottom: 1px solid #CCCCCC;
  padding: 0.3em 0.85em 0.45em 0.6em;
  -webkit-box-shadow: 2px 0 3px #CCCCCC;
  -moz-box-shadow: 2px 0 3px #CCCCCC;
  box-shadow: 2px 0 3px #CCCCCC; }

.nav__links {
  padding: 0.5em;
  display: none; }

.nav__links--opened {
  display: block;
  height: auto; }
