@import 'colors';

.link {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
}

.link--main {
  font-size: 1rem;
  color: $hipage-orange;
  font-weight: 500;
}