.nav__link__link {
  display: block;
  padding: 0.3em;
  color: #888888;
}

.nav__link__link:active,
.nav__link__link:hover,
.nav__link__link:focus,
.nav__link__link--active {
  color: #333333;
  outline: none;
}